 <div>
 	<div class="form-fields">
 		<div layout="row" flex>
			<mat-form-field>
				<input matInput placeholder="Zip Code">
			</mat-form-field>
			<button mat-raised-button color="primary">Search</button>
		</div>
		<mat-form-field>
	  		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>

	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

	  <!-- Position Column -->
	  <ng-container matColumnDef="active">
	    <th mat-header-cell *matHeaderCellDef> Active </th>
	    <td mat-cell *matCellDef="let vendor"> {{vendor.active}} </td>
	  </ng-container>

	  <!-- Name Column -->
	  <ng-container matColumnDef="name">
	    <th mat-header-cell *matHeaderCellDef> Name </th>
	    <td mat-cell *matCellDef="let vendor"> {{vendor.name}} </td>
	  </ng-container>

	  <!-- Weight Column -->
	  <ng-container matColumnDef="recipientid">
	    <th mat-header-cell *matHeaderCellDef> Recipient ID </th>
	    <td mat-cell *matCellDef="let vendor"> {{vendor.recipientid}} </td>
	  </ng-container>

	  <!-- Symbol Column -->
	  <ng-container matColumnDef="numberofrooms">
	    <th mat-header-cell *matHeaderCellDef> Number of Rooms </th>
	    <td mat-cell *matCellDef="let vendor"> {{vendor.numberofrooms}} </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

 </div> 
