@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Passion One", cursive;');
@include mat-core($custom-typography);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);